@model KareAjans.UI.ViewModels.HomePageViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">


        @Model.AboutText
        @Model.ReferencesText

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Date Of Birth</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ModelEmployees)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.DateOfBirth</td>
                        <td>@item.PictureUrl</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>


</div>

